In [1]:
import pandas as pd

In [2]:
filePath = "data.csv"
file = pd.read_csv(filePath)
print(file.head())
print(file.info())

            Brewer                             Name  Alc   Country  Rating  \
0  Thisted bryghus                          Classic  4,6   Danmark       6
1  Thisted bryghus                  Økologiks Humle  5,8   Danmark       7
2  Thisted bryghus                      Jack & beer    8   Danmark       7
3  Thisted bryghus                 Limfjords porter  7,9   Danmark       6
4  Thisted bryghus  Limfjordes porter Whisky fad 49  8,5  Danmark        8

  price
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brewer   145 non-null    object
 1   Name     160 non-null    object
 2   Alc      160 non-null    object
 3   Country  160 non-null    object
 4   Rating   160 non-null    int64
 5   price    6 non-null      object
dtypes: int64(1), object(5)
memory usage: 7.6+ KB
None

In [3]:
file.astype({'Country': 'string'}).dtypes
print(file.dtypes)
print(file.isnull().sum())

Brewer     object
Name       object
Alc        object
Country    object
Rating      int64
price      object
dtype: object
Brewer      15
Name         0
Alc          0
Country      0
Rating       0
price      154
dtype: int64

In [4]:
file["Alc"] = file['Alc'].replace(regex=r',', value='.')
file["price"] = file['price'].replace(regex=r',', value='.')
file['Country'] = file['Country'].str.lower()
file["Country"] = file['Country'].replace(regex=r' ', value='')
file["Brewer"] = file['Brewer'].astype(str)
file["Brewer"] = file['Brewer'].apply(lambda x: x.strip())


#Translate
file["Country"] = file['Country'].replace(regex=r'danmark', value='denmark')
file["Country"] = file['Country'].replace(regex=r'tyskland', value='german')
file["Country"] = file['Country'].replace(regex=r'belgien', value='belgian')
file["Country"] = file['Country'].replace(regex=r'italien', value='italy')
file["Country"] = file['Country'].replace(regex=r'amerika', value='usa')
file["Country"] = file['Country'].replace(regex=r'polen', value='poland')
file["Country"] = file['Country'].replace(regex=r'estland', value='estonia')
file["Country"] = file['Country'].replace(regex=r'tjekkiet', value='Czech ')
file["Country"] = file['Country'].replace(regex=r'kina', value='china')
file["Country"] = file['Country'].replace(regex=r'holland', value='netherland')

#spelling
file["Country"] = file['Country'].replace(regex=r'danmrk', value='denmark')
file["Country"] = file['Country'].replace(regex=r'denmrk', value='denmark')
file["Country"] = file['Country'].replace(regex=r'danamrk', value='denmark')
file["Country"] = file['Country'].replace(regex=r'dannark', value='denmark')
file["Country"] = file['Country'].replace(regex=r'belgium', value='belgian')

print(file['Country'].unique())
print(file.head())

['denmark' 'england' 'german' 'belgian' 'italy' 'usa' 'poland' 'mexico'
 'estonia' 'Czech ' 'china' 'netherland']
            Brewer                             Name  Alc  Country  Rating  \
0  Thisted bryghus                          Classic  4.6  denmark       6
1  Thisted bryghus                  Økologiks Humle  5.8  denmark       7
2  Thisted bryghus                      Jack & beer    8  denmark       7
3  Thisted bryghus                 Limfjords porter  7.9  denmark       6
4  Thisted bryghus  Limfjordes porter Whisky fad 49  8.5  denmark       8

  price
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

In [5]:
file.to_csv('new_data.csv', index=False, encoding ='latin1')